<footer>
    <div id= "localizacao">
        <p>
            Av Paulista, 1374 
        </p>
        <p>01310-916 São Paulo</p>
    </div>
    <div id="icons">
        <a href=""> <img class="icon" src="/static/facebook.png" alt=""> </a> 
        <a href=""> <img class="icon" src="/static/linkedin.png" alt=""> </a> 
        <a href=""> <img class="icon" src="/static/google.png" alt=""> </a> 
        <a href=""> <img class="icon" src="/static/instagram.png" alt=""> </a>
        <a href=""> <img class="icon" src="/static/behance.png" alt=""> </a>
        
    </div>
    
</footer>