<footer>
    <section>
        <h1>Nossas redes sociais:</h1>
        <div id="icons">
            <a href=""> <img class="icon" src="/static/iconface.png" alt=""> </a> 
            <a href=""> <img class="icon" src="/static/iconlinkedin.png" alt=""> </a> 
            <a href=""> <img class="icon" src="/static/icontwitter.png" alt=""> </a> 
            <a href=""> <img class="icon" src="/static/iconinsta.png" alt=""> </a>
        </div>
    </section>
</footer>