<header>
    <div id="botoeshome">
        <a href="/views/index.ejs">Home</a>
        <a href="/views/Parceiros.ejs">Seja nosso parceiro</a>
        <a href="/views/agenda.ejs">Agenda</a>
    </div>
</header>