<header>
    <div id="botoeshome">
        <a href="/views/index.ejs">home</a>
        <a href="/views/NossoTrabalho.ejs">Nosso trabalho</a>
        <a href="/views/Parceiros.ejs">Seja nosso parceiro</a>
    </div>
</header>