<!DOCTYPE html>
<html lang="pt-br">
<%- include('shared/head') %>
<body>
    <div id="parallax4">
        <%- include('shared/header4') %>
        <h1>Agenda</h1>
        <section>
            <div id="calendario"><iframe src="https://calendar.google.com/calendar/embed?src=3gvvutggnbhod0bvmlu0clm6jg%40group.calendar.google.com&ctz=America%2FSao_Paulo" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe></div>
        </section>
    </div>
    <%- include('shared/footer') %>
</body>
</html>