<!DOCTYPE html>
<html lang="pt-br">
<%- include('shared/head') %>
<body>
    <header>
        <div class="parallax">  
            <div id="cabeçalho">
                <img id="logo" src="/static/c.i.png" alt="logo">
            </div>
        </div>
    </header>
    <section id="bloco2">
        <div class="conteudo">
            <div id="botoeshome">
                    <a href="/views/NossoTrabalho.ejs">Nosso trabalho</a>
                <a href="/views/Parceiros.ejs">Seja nosso parceiro</a>
            </div>
        </div>
    </section>
    
</body>
</html>