<!DOCTYPE html>
<html lang="pt-br">
<%- include('shared/head') %>
<body>
    <header>
        <div class="parallax">
            <div id="botoeshome">
                <a href="/views/NossoTrabalho.ejs">Nosso trabalho</a>
                <a href="/views/Parceiros.ejs">Seja nosso parceiro</a>
                <a href="/views/agenda.ejs">Agenda</a>
            </div>
        </div>
    </header>

    </section>
<%- include('shared/footer') %>
</body>

</html>