<!DOCTYPE html>
<html lang="pt-br">
<%- include('shared/head') %>
<body id="bgcolor">
    <div id="parallax2">
        <%- include('shared/header2') %>
        <section id="quadroMaior">
            <div id="quadroMenor">
                <h1>Conheça a casa do imigrante</h1>
                <div><p>Lorem, ipsum Lorem ipsum consectetur necessitatibus eos mollitia, blanditiis aspernatur non cupiditate. adipisicing elit. Ex atque aspernatur autem, deleniti accusamus adipisci? Ipsa earum laudantium et sed ab, praesentium, dignissimos accusamus veniam tempora asperiores molestiae consequatur natus. dolor sit amet consectetur adipisicing elit. Ut inventore assumenda velit ratione, quasi vitae aperiam praesentium aspernatur vero obcaecati dolorum laudantium tempora perferendis neque asperiores, magni veritatis consequuntur consequatur!</p>
                </div>
            </div>
            
        </section>
    </div>
    <%- include('shared/footer') %>
</body>
</html>