<!DOCTYPE html>
<html lang="pt-br">
<%- include('shared/head') %>
<body>
    <div id="parallax3">
        <%- include('shared/header3') %>
    </div>
    <%- include('shared/footer') %>
    
</body>
</html>