<!DOCTYPE html>
<html lang="pt-br">
<%- include('shared/head') %>
<body>
    <div id="parallax3">
        <%- include('shared/header3') %>
        <section id="quadroMaior">
            <div id="quadroMenor">
                <h1>Seja nosso parceiro</h1>
                <form id="quadroMenor1">
                    <input type="text" placeholder="Nome/Empresa" name="nome">
                    <input type="email" placeholder="E-mail" name="email">
                    <input type="tel" placeholder="Telefone para contato" name="telefone">
                    <button>Enviar</button>
                </form>
            </div>
        </section>
    </div>
    <%- include('shared/footer') %>
    
</body>
</html>